.footer {
  background-color:#1f4d2b;
  color: #fff;
  padding: 40px 20px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
  min-width: 200px;
}

.footer h2, .footer h3 {
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #1f4d2b;
  padding-top: 10px;
  font-size: 14px;
}
