

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url("../components/images/CAF.png"); /* put your image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(8, 20, 28, 0.7),
    rgba(8, 20, 28, 0.9)
  );
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 90px;
}

.hero h1 span {
  color: #f62d00;
}

.hero h3 {
  margin-top: 10px;
  letter-spacing: 4px;
}

.hero-buttons button {
  margin: 10px;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #fd3b00;
  color: white;
}
