/* src/styles/tableau.css */
.tableau {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.table-card {
  background: white;
  border-radius: 18px;
  padding: 20px;
}

.table-card h3 {
  background: #000;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.table-head,
.table-row {
  display: grid;
  grid-template-columns: 1fr 60px 60px;
  align-items: center;
  padding: 10px 0;
}

.table-head {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.table-row {
  border-bottom: 1px solid #eee;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-info img {
  width: 26px;
  height: 18px;
  object-fit: cover;
  border-radius: 3px;
}

.plus {
  color: green;
  font-weight: bold;
}

.minus {
  color: red;
  font-weight: bold;
}

.pts {
  font-weight: bold;
}
